
body {
    background-image: url("image/fondomeb.jpg");
    font-size: 70px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center center;background-attachment: fixed;
    padding-bottom: 3em;
    min-height: 100vh;
}

.foto1 {
    padding: 0px;
    margin-top: -43px;
    margin-left: -64px;
    margin-right: -67px;
    float: left;
    width: 350px;
    height: 300px;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: right;
    color: white;
    margin-left: 100px;
    padding-top: 0;
    margin-top: 0;
    background-color: #396186;
    position: static;
    font-family: 'Abyssinica SIL', serif;cursor: pointer;
}

.containerlist {
    display: flex;
    justify-content: end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 20px;
    padding: 5px;
    margin-right: 50px;
}

.section {
    background-color: #396186;
}

.titulo{
    color: white;
    float: right;
    font-size: 80px;
    font-family: 'Abyssinica SIL', serif;
    text-shadow: 5px 0 0 black;
}

#parrafo{
    color: white;background-color:#396186 ;
    float: left;
    font-size: 25px;
    font-family: 'Abyssinica SIL', serif;
}

.paso{font-size: 20px;background-color: #396186;color:white;width:max-content;height:fit-content}

.step {
    display: none;}
#paso1 {
    display: block; }
#listo{font-size: 25px;color: white;background-color:#396186;width:max-content;height:fit-content }


#finform{font-size: 15px;color: white;background-color:#396186;width:max-content;height:fit-content }


#export-pdf {
    display: block;
    margin: 10px auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #export-pdf:hover {
    background-color: #0062cc;
  }




.footer-container {display: flex;justify-content:space-evenly;
    align-items: center;
    position:fixed;list-style-type:none;
    bottom: 0;
    width: 100%;
    background-color: #396186;
    color: #fff;
    padding: 5px;
   ;}

.contacto {
        font-size: 14px;display:inline-table; width: 0%;
        text-align: left; }

.soporte{
    font-size: 14px;display:inline-table; width: 0%;
    text-align: left;
}

.redes-sociales a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;margin-top: 10px;}


.redes-sociales a:last-child {
    margin-right: 0;
}
.redes-sociales i {
    font-size: 20px;
    vertical-align: middle;}

.redes-sociales a:hover {color: #ccc;}

.footer-container p{
    margin: 0;
    font-size: 12px;
    text-align:center;
    color: #fff;
  }

  .footer-container .copyr{
    margin: 0;
  font-size: 10px;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  }

.box {justify-content: center;
}

#Como_llegar:hover {
    color: aquamarine;
}

#Laboratorio_e_investigacion:hover {
    color: aquamarine;
}

#Visitas:hover {
    color: aquamarine;
}

#Quienes_somos:hover {
    color: aquamarine;
}